{% load static %}
{% extends 'base.html' %}

<body>
    <div class="full-width">
        <section id="container" class="">
            <!--header start-->
            <header class="header white-bg">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-bars"></span>
                    </button>

                    <!--logo start-->
                    <a href="/Dashboard/" class="logo"><img alt="" ></a>
                    <!--logo end-->
                    <div class="horizontal-menu navbar-collapse collapse ">
                          <ul class="nav navbar-nav">
                          <li><a href="/registration/">Register</a></li>
                          {#<li class="active"><a href="#">Components</a></li>#}
                              <li class="active"><a href="/login/">Login</a></li>
                              <li><a href="/registration/">Register</a></li>
                          </ul>

                      </div>
                    <div class="top-nav ">
                        <ul class="nav pull-right top-menu">
                            <li>
                                {#<input type="text" class="form-control search" placeholder=" Search">#}
                            </li>

                        </ul>
                    </div>

                </div>

            </header>
            <!--header end-->
            <!--sidebar start-->

            <!--sidebar end-->
            <!--main content start-->

            <section id="main-content">
                <section class="wrapper">

                    <div class="row">
                        <div class="col-lg-2">
                        </div>

                        <div class="col-lg-8">
                            {% if error_message %}
                                <div class="alert alert-block alert-danger fade in" style="margin-left: 100px;background:#ffAA66; color:#ffffff">
                                    <button data-dismiss="alert" class="close close-sm" type="button">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <strong></strong> {{ error_message }}
                                </div>
                            {% endif %}

                            {% if success_message %}
                                <div class="alert alert-block alert-success fade in" style="margin-left: 100px;background:#ffAA66; color:#ffffff">
                                    <button data-dismiss="alert" class="close close-sm" type="button">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <strong></strong> {{ success_message }}
                                </div>
                            {% endif %}
                        </div>


                        <div class="col-lg-2">
                        </div>
                        <!-- page start-->
                    </div>
                    <form class="form-signin" action="/registration/" method="post" enctype="multipart/form-data" style="margin: 0px auto 0px;">
                        {% csrf_token %}
                        <h2 class="form-signin-heading">registration</h2>

                        <div class="login-wrap">

                            <input type="text" name="f_name" class="form-control" placeholder="First Name" autofocus required="True">
                            <input type="text" name="l_name" class="form-control" placeholder="Last Name" autofocus required="True">
                            <input type="email" name="email" class="form-control" placeholder="Email" autofocus style="margin-bottom:10px; font-size: 12px;" required="True">
                            <input type="text" name="company" class="form-control" placeholder="Company" autofocus required="True">
                            <input type="password" name="password" class="form-control" placeholder="Password" required="True">
                            <input type="password" name="confirm_password" class="form-control" placeholder="Re-type Password" required="True">
                            <label class="checkbox">
                                <input type="checkbox" name="terms" value="T" required="True"> I agree to the Terms of
                                Service and Privacy Policy.</a>
                            </label>
                            <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>

                            <div class="registration">
                                Already Registered.
                                <a class="" href="/login/">
                                    Login
                                </a>
                            </div>

                        </div>

                    </form>
                    <!-- page end-->
                </section>
            </section>
            <!--main content end-->

        </section>
    </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hover-dropdown.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>

    <!--common script for all pages-->
    <script src="{% static 'js/common-scripts.js' %}"></script>


</body>
